.gradio-container {
    background: linear-gradient(135deg, #12801d 10%, #4a72f5 100%);
    padding: 20px;
    color: #fff;
}
.gradio-input {
    font-weight: bold;
    color: #4a72f5;
}

.svelte-116rqfv {
    /*background-image: url("https://assets.wallpapersin4k.org/uploads/2017/04/Dbz-Phone-Wallpapers-10.jpg");*/
    opacity: 0.5;
    background: linear-gradient(135deg, #FFFF00 10%, #4a72f5 100%);
}

.svelte-1rfkt5w{
    background: linear-gradient(135deg, #C71585 10%, #4a72f5 100%);
}

.svelte-1vhybi6{
    background: linear-gradient(135deg, #4a72f5 10%, #FFFF00 100%);
}
